<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>329112865615-1dnc31k8fpqn8n4ctn94cokjujla40uu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.329112865615-1dnc31k8fpqn8n4ctn94cokjujla40uu</string>
	<key>API_KEY</key>
	<string>AIzaSyCcos9c8p6F8_xtwpbJPMiRKyKiZjWa4wE</string>
	<key>GCM_SENDER_ID</key>
	<string>329112865615</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>agile.new.com.uChat</string>
	<key>PROJECT_ID</key>
	<string>uchat-7ab47</string>
	<key>STORAGE_BUCKET</key>
	<string>uchat-7ab47.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:329112865615:ios:1f7e2a746ad3a3f1da533a</string>
</dict>
</plist>